<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SİTE</title>
    <link rel="stylesheet" href="~/css/stil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/vuecode.js"></script>
</head>
<body>

    <div id="header">
        <h1 class="logo">ENGLİSH FLASH CARDS  ||  TURAN VE NİLCOOOO</h1>
    </div>

    @{
        var cookieValue = Context.User.Identity.Name;
    }

    @if (cookieValue != null)
    {
        <div id="website-navbar" style="        background-color: #ffc0cb;">
            
            <div class="card-body">
                <h2 class="card-title">@cookieValue</h2>
                <a href="~/users/logout" class="card-link">Çıkış Yap</a>
            </div>
  
            <ul>
                <li><a href="/sets">Setler</a></li>
                <li><a href="/folders">Klasörler</a></li>
            </ul>
        </div>
    }


    <div id="content">
        @RenderBody()
    </div>
    <script src="~/js/vuecode.js"></script>
</body>
</html>
